Pascal VOC 2012.v1-raw.yolov8.zip
Pascal VOC 2012.v1/
output/project_report/project_report.aux
output/project_report/project_report.fdb_latexmk
output/project_report/project_report.fls
output/project_report/project_report.log
output/project_report/project_report.out
output/project_report/project_report.synctex.gz
output/project_report/project_report.toc